
/* * {
  color: rgb(226, 13, 13);
} */

div {
  width: 160px;
  height: 150px;
  padding: 20px;
  border: 8px solid rgb(0, 55, 255);
  background: rgb(228, 176, 166);
  text-shadow: 200px;
  color: rgb(31, 31, 31);
  text-decoration: wavy underline;
  text-decoration-color: rgb(202, 2, 2);

}

div.content-box {
  box-sizing: content-box;
}

.color {
  background-color: azure;
}

#color {
  margin-top: 1em;
  box-sizing: border-box;
}

h1 {
  font-family: 'Raleway', sans-serif;
 }

 p {
  font-family: 'Raleway', sans-serif;
 }

 a:hover {
  background-color: gold;
}
