@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

div.div-booki {
  width: auto;
  height: auto;
  padding: 10px;
  background: rgb(255, 255, 255);
  color: rgb(31, 31, 31);
  text-decoration: none;
  text-decoration-color: rgb(202, 2, 2);

}

/* div.content-box {
  box-sizing: content-box;
} */

.color {
  background-color: azure;
}

#color {
  margin-top: 1em;
  box-sizing: border-box;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: medium;
}

p {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  color: black;
}

h2 {
  font-size: 120%;
}

/*
form button:hover {
  background-color: rgb(113, 65, 225);
  color: rgb(206, 197, 35);
  }


.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */



/* img {
  height: 100px;
  text-align: center;
  padding: 2px;
  border-radius: 10px 25px 0 0;
}

.h-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(234, 235, 231);
}

.a-container {
  background-color: rgb(247, 228, 228);
  margin-top: 1px;
}



.populaire {
  background-color: rgb(154, 158, 157);
} */