.filters_section {
  display: flex;
  margin: 20px 0 0 6px;
}

.filters_section h3 {
  margin: 15px 40px 0 30px;
  font-size: 20px;
}

.filters_section .all_filters {
  display: flex;
}

.filters_section .filter {
  display: flex;
  align-items: center;
  height: 50px;
  padding-right: 30px;
  border: #dfdede 2px solid;
  border-radius: 30px;
  margin-right: 40px;
  cursor: pointer;
  transition: 0.8s;
}

.filters_section .filter:hover {
  transform: scale(1.05);
}

.filters_section .icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #DEEBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 112%;
  color: #0065fc;
  margin-left: -4px;
}

.filters_section p {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.filters_section p:hover {
  color: #0065fc;
}