@media screen and (min-width:992px) {


  .tagline_search_bar .fa-search {
    display: none;
  }
}

@media screen and (max-width: 991px) {


  /* search */
  .tagline_search_bar input {
    width: 220px;
    font-size: 100%;
  }

  .tagline_search_bar .search {
    display: none;
  }

  .tagline_search_bar .fa-search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #0065fc;
    color: white;
    cursor: pointer;
    width: 50px;
    margin-left: -10px;
  }

  .tagline_search_bar h1 {
    font-size: 119%;
  }

  header {
    display: block;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 20px;
  }

  header img {
    display: block;
    margin: auto;
    padding-left: 40px;
  }

  header ul {
    justify-content: space-around;
    margin-top: 30px;
  }

  header .border-blue:hover {
    border-bottom: #0065fc solid 3px;
    padding-bottom: 20px;
    border-top: none;
  }

  /*filters*/
  .filters_section .all_filters {
    margin-left: 20px;
  }

  .filters_section p {
    font-size: 100%;
  }

  .filters_section {
    flex-direction: column;
  }

  .filters_column {
    flex-direction: column;
    align-items: flex-start;
  }

  .filters_section .filter {
    margin: 10px 20px 0 0;
    padding-right: 10px;
  }

  /*info*/
  .info_section h2 {
    font-size: 95%;
    margin-left: 10px;
    margin-bottom: 5px;

  }

  .accommodation_popular_section {
    margin-left: 0;
    flex-direction: column-reverse;
  }

  /* accommodation-section*/

  /* .accommodation_marseille .cards {
    flex-direction: column;
    width: 100%;
  }

  .accommodation_marseille span {
    margin-left: 10px;
  } */

  /* .accommodation_marseille {
    width: 330%;
    margin-right: 0%;
    padding: 5%;
    height: auto;
    background-color: white
  } */

  /* .accommodation_marseille h2 {
    margin: 25px 0;
  } */

  /* .accommodation_marseille .border_picture {
    width: 95%;
    margin-bottom: 20px;
  } */

  .accommodation_marseille {
    width: 106%;
    margin-left: 0;
    padding: 30px 5%;
    border-radius: 0;
    margin-top: 16px;
  }

  .accommodation_marseille img {
    object-fit: cover;
    width: 99%;
  }

  .accommodation_marseille .border_picture {
    width: 100%;
    margin-bottom: 20px;
  }

  /* .accommodation_marseille .cards {

    justify-content: center;
  } */

  /*popular section*/

  .popular_section {
    width: 106%;
    margin-left: 0;
    padding: 30px 5%;
    border-radius: 0;

  }

  .popular_section .title {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }

  .popular_section .border_popular {
    width: auto;
    margin-left: 0;
    margin-bottom: 15px;
  }

  .popular_section img {
    height: 140px;
    width: 250px;
    padding: 1%;
  }

  .popular_section .description {
    margin-left: 30px;
  }

  .popular_section h3 {
    font-size: 119%;
  }

  .popular_section p {
    font-size: 100%;
  }

  .popular_section .star {
    font-size: 100%;
  }

  @media screen and (max-width: 767px) {


    header .border_blue:hover {
      border-top: none;
      border-bottom: solid 3px #0065fc;
      padding: 20px;
    }

    header ul {
      flex-wrap: nowrap;
    }

    header ul li {
      margin-right: 10px;
    }

    /*popular-section*/
    .popular_section img {
      width: 130px;
      height: 140px;
      padding: 2%
    }

    /* .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    } */

    .cards a {
      width: 95%;
    }

    .accommodation_marseille {
      margin-right: 0px;
      margin-top: 25px;
      background-color: white;
      padding: 0%;
    }

    .accommodation_marseille .border_picture {
      box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    }

    /*activity*/

    .activity_section .activity_cards {
      display: flex;
      flex-direction: column;
      /* justify-content: space-around; */
      height: auto;
      width: auto;
      /* margin-right: 10px; */
      /* gap: 1%; */
    }

    .activity_section .text_activity {
     padding-left: 20px;
     height: 10px;
    }

    .activity_section img {
      object-fit: cover;
      border-radius: 15px 15px 0 0;
      width: -webkit-fill-available;
      max-width: 101%;
      height: 150px;
    }

    .activity_section .column .border_activity {
      box-shadow:  0 0 10px rgb(0 0 0 / 10%);
      margin-bottom: 30px;
    }

    .stretch {

      height: 150px;
      width: 305px;
    }

    .bloc_footer {
      height: auto;
      flex-direction: column;
      padding: 2%;
    }

  }
}